aiogram==3.29.0
aiohttp
aiosignal
aiosqlite
APScheduler==3.11.0
AsyncPayments
asyncpg==0.30.0
beautifulsoup4
httpx
colorama
loguru
nest-asyncio
requests
SQLAlchemy[asyncio]==2.0.54
YooMoney==0.1.0
cachetools
telyx==0.0.1
fastapi==0.104.1
starlette==0.27.0
uvicorn==0.24.0.post1
PyJWT

cryptography>=45.0.6,<47
tonsdk==1.0.15
